
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <link rel="stylesheet" href="/css/StyleSheet.css">
    <link rel="stylesheet" href="/css/site.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="centerText logoText logoBackground logoBlock">
                <div class="logoTextBlock">
                    <span class="blueText">Cla</span><span class="yellowText">ssr</span><span class="orangeText">oom</span>
                </div>
            </div>
        </nav>
    </header>
    <div class="anderMenuLine"></div>
    <div class="MenuContent" style="min-height: 650px">
        <main role="main" class="">

            <div class="flex spaceBetween menuBlock">
                <div class="leftMenuBlock">
                    <ul class=" flex button2 menuUlStyle">
                        <li class="menuLiStyle menuText"><a class="aStyle" href="~/"><span class="yellowText">Me</span><span class="orangeText">nu</span></a></li>
                    </ul>
                </div>
                <div class="rightMenuBlock">
                    <ul class="flex menuUlStyle">
                        @if (ViewData["joined"] != null)
                        {
                            @if ((bool)ViewData["joined"] == false)
                            {
                                <li class="menuLiStyle margin-left13px button2 menuText"><a class="aStyle" href="~/RegAut/Autoresation"><span class="orangeText">Lo</span><span class="yellowText">g</span><span class="blueText">in</span></a></li>
                            }
                            else
                            {
                                <li class="menuLiStyle margin-right13px button2 menuText"><a class="aStyle" href="~/UserProfile/"><span class="blueText">Pr</span><span class="yellowText">of</span><span class="orangeText">ile</span></a></li>
                                <li class="menuLiStyle margin-right13px button2 menuText"><a class="aStyle" href="~/RegAut/Exit"><span class="orangeText">Lo</span><span class="yellowText">g o</span><span class="orangeText">ut</span></a></li>

                            }
                        }
            else
            {
                    <li class="menuLiStyle margin-left13px button2 menuText"><a class="aStyle" href="~/RegAut/Autoresation"><span class="orangeText">Lo</span><span class="yellowText">g</span><span class="blueText">in</span></a></li>
            }



                    </ul>
                </div>
            </div>
            <div class="anderMenuLine"></div>
            @RenderBody()
        </main>
    </div>

    <footer class="">
        <div class="" style="width:100%; height:100px;">
            <h4 style="text-align: center; padding-top: 50px; color: #fac564;">Copyright ©2021 All rights reserved | This template is made with  by MyTeam</h4>
        </div>
    </footer>
</body>
</html>
