<a href="/RegAut/Autoresation">back</a>
<form class="decor" action="/RegAut/RegistrationSave" method="post">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner centerText">
        <h3 style="text-align: center;">Реєстрація</h3>
        <br />

        <label>Логін</label>
        <input type="text" name="name" placeholder="Username">

        <label>Пароль</label>
        <input type="password" name="password" placeholder="Password">

        <label>Електронна адреса</label>
        <input type="email" name="email" placeholder="email">

        <label>Картинка</label>
        <input type="text" name="img" placeholder="img">

        <label>Опис</label>
        <input type="text" name="description" placeholder="description">
        <input type="submit" value="Зареєструватися">
    </div>
</form>
