<form class="decor">
<div class="form-left-decoration"></div>
<div class="form-right-decoration"></div>
<div class="circle"></div>
<div class="form-inner">
<h3 style="text-align: center;">Авторизація</h3>
<br></br>
<input type="text" name="Username" placeholder="Username">
<p></p>
<p></p>
<input type="password" name="Password" placeholder="Password">
<input type="submit" value="Зареєструватися">
</div>
</form>
