body {
  font-family: 'Noto Sans Mono', monospace;
  margin: 0px;
  padding: 0px; }

.centerText {
  text-align: center; }

.logoBackground {
  background-color: #fac564; }

.logoBlock {
  height: 100px; }

.logoText {
  font-size: 2em;
  font-weight: 600; }

.logoTextBlock {
  padding-top: 25px; }

.blueText {
  color: blue; }

.yellowText {
  color: yellowgreen; }

.orangeText {
  color: orangered; }

.flex {
  display: flex; }

.spaceCenter {
  justify-content: center; }

.spaceBetween {
  justify-content: space-between; }

.whiteSpace {
  background-color: white;
  width: 60%;
  border-radius: 20px;
  margin: 0 auto; }

.centerBlock {
  margin: 0 auto; }

.menuBlock {
  height: 50px; }

.menuUlStyle {
  margin: 0px;
  padding: 0px; }

.menuUlStyle .menuLiStyle {
  list-style-type: none; }

.menuUlStyle .aStyle {
  text-decoration: none; }

.anderMenuLine {
  width: 100%;
  border: 1px solid #db541a; }

.menuText {
  font-size: 1.4em;
  font-weight: 300; }

.deleteButton {
  color: red; }

.deleteButton span {
  font-size: 1.4em; }

.margin-right13px {
  margin-right: 13px; }

.margin-right30px {
  margin-right: 30px; }

.margin-left30px {
  margin-left: 30px; }

.margin-left13px {
  margin-left: 13px; }

.linksStyle {
  text-decoration: none;
  color: white; }

.button {
  height: 30px;
  width: 200px;
  background: #fc692a;
  border-bottom: 4px solid #db541a;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: 1em; }

.button2 {
  height: 40px;
  background: #fac564;
  border-bottom: 4px solid #e6b800;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: 1em; }

.downButton {
  height: 30px;
  width: 100%;
  background: #fc692a;
  border-bottom: 4px solid #db541a;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: 1em; }

.button3 {
  height: 30px;
  width: 200px;
  background: #fc7136;
  border-bottom: 4px solid #00ffff;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: 1em; }
