@model Classroom.Models.Index.CreateTaskModel;
@{
    Layout = "_Layout";
}


<form class="decor" action="~/Index/CreateTaskSave" method="post" enctype="multipart/form-data">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner centerText">
        <input type="hidden" name="id" value="@Model.idGroup" />
        <h3 style="text-align: center;">Створити завдання</h3>
        <br />
        <label>Title</label>
        <input type="text" name="title" placeholder="title" />

        <label>Description</label>
        <input type="text" name="description" placeholder="description" />

        <label>Description</label>
        <input type="text" name="description" placeholder="description" />

        <label>File</label>
        <input type="file" name="uploadedFile" />

        <input type="submit" value="Створити">

    </div>
</form>