@model Classroom.Models.Index.CreateTaskModel;
@{
    Layout = "_Layout";
}
<form action="~/Index/CreateTaskSave" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="@Model.idGroup" />
    Title: <input type="text" name="title" /><br />
    Description: <input type="text" name="description" /><br />
    File: <input type="file" name="file" /><br />
    Type: <select name="type">
        <option value="task">task</option>
        <option value="message">message</option>
    </select>
    <input type="submit"/>
</form>