@model Classroom.Models.Index.IndexModel;
@{
    Layout = "_Layout";
}

@if ((bool)ViewData["joined"] != false)

{
    <div class="whiteSpace">
        <h3 class="centerText">Мої групи</h3>

        @foreach (Classroom.Group item in Model.listMyGroups)
        {
            <div class="flex spaceBetween menuBlock">


                <div class=" flex leftMenuBlock">
                    <div class="margin-left30px">
                        <a class="deleteButton" href="~/Index/DeleteGroup/@item.Id">
                            <span class="material-icons">delete</span>
                        </a>
                    </div>
                    <div class="margin-right13px margin-left13px">
                        @item.Id @item.Name
                    </div>
                </div>

                <div class="rightMenuBlock button margin-right30px  margin-left13px">
                    <a class="linksStyle" href="~/Index/TasksInGroup/@item.Id">Перейти до групи</a>
                </div>

            </div>

        }

        <div class="downButton">
            <a class="linksStyle" href="~/GroupC/Create">Створити власну</a>
        </div>
    </div>

    <div class="whiteSpace">
        <h3 class="centerText">Групи в яких я є членом</h3>

        @for (int i = 0; i < Model.listGroups.Count; i++)
        {
            <div class="flex spaceBetween menuBlock">
                <div class=" flex leftMenuBlock">
                    <div class="margin-right13px margin-left30px">
                        @Model.listGroups[i].Id @Model.listGroups[i].Name
                    </div>
                </div>
                <div class="rightMenuBlock button margin-right30px">
                    <a class="linksStyle" href="~/Index/TasksInGroup/@Model.listGroups[i].Id">Перейти до групи</a>
                </div>
            </div>
        }

        <br />
        <br />
        <div class="downButton">
            <a class="linksStyle" href="~/GroupC/Join">Долучитись до групи</a>
        </div>
    </div>
        }
        else
        {
        }

