@model Classroom.Models.Index.IndexModel;
@{
    Layout = "_Layout";
}
<div class="flex menuBlock">
    <div class="leftMenuBlock">
        <ul class="menuUlStyle">
            <li class="menuLiStyle menuText"><a class="aStyle" href=""><span class="yellowText">Me</span><span class="orangeText">nu</span></a></li>
        </ul>
    </div>
    <div class="rightMenuBlock">
        <ul class="menuUlStyle">
            <li class="menuLiStyle menuText"><a class="aStyle" href=""><span class="orangeText">Lo</span><span class="yellowText">g</span><span class="blueText">in</span></a></li>
        </ul>
    </div>
</div>
<div class="anderMenuLine"></div>

<table>
    @for (int i = 0; i < Model.listGroups.Count; i++)
    {
        <tr><td>@Model.listGroups[i].Id</td><td>@Model.listGroups[i].Name</td><td><a href="~/Index/TasksInGroup/@Model.listGroups[i].Id">link</a></td></tr>
    }
</table>
<h1>index</h1>