@model Classroom.Models.Index.IndexModel;
@*@{
    Layout = "_Layout";
}*@
<div class="flex menuBlock">
    <div class="leftMenuBlock">
        <ul class="menuUlStyle">
            <li class="menuLiStyle menuText"><a class="aStyle" href=""><span class="yellowText">Me</span><span class="orangeText">nu</span></a></li>
        </ul>
    </div>
    <div class="rightMenuBlock">
        <ul class="menuUlStyle">
            <li class="menuLiStyle menuText"><a class="aStyle" href=""><span class="orangeText">Lo</span><span class="yellowText">g</span><span class="blueText">in</span></a></li>
        </ul>
    </div>
</div>
<div class="anderMenuLine"></div>

@for(int i=0;i< Model.listGroups.Count;i++ )
{
<h1>@Model.listGroups[i].Name</h1>
}
<h1>index</h1>