@model Classroom.Models.Index.TaskModel;
@{
    Layout = "_Layout";
}
@Model.task.Id
<br />
<p>
    Name:
    @Model.task.Name
</p>
<p>
    Type:
    @Model.task.Type
</p>

<p>
    Description:
    @Model.task.Description
</p>
